.sixth {
	background: #FFF6EE;
	display: flex;
	padding-bottom: 30px;
	margin-top: -50px;
}

.sixth .bg-1 {
	width: 259px;
	height: 175px;
	margin-left: 600px;
}

.sixth .bg-2 {
	width: 214px;
	height: 169px;
	margin-left: -750px;
	margin-top: 450px;
}

.sixth .image {
	width: 700px;
	margin-top: 50px;
}

.sixth .bg-3 {
	width: 215px;
	height: 169px;
	margin-top: 450px;
}

.sixth .content h2 {
	color: #D07CC6;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-weight: 800;
	font-size: 52px;
}

.sixth .content p {
	color: #D07CC6;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin-top: 32px;
}

.sixth .content h5 {
	color: #D07CC6;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-weight: 900;
	font-size: 18px;
}

.sixth .content .detmir {
	width: 169px;
	height: 66px;
	margin-top: 21px;
}